.home--image img {
    width: 100%;
}

.home--info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
}

.banner--image {
    border: 2px solid black;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 10px;
}

.home--content {
    line-height: 1.6;
}

.home--slogan {
    margin-bottom: 20px;
}

.home--btn {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.home--btn button {
    padding: 10px;
}

.home--btn button:hover {
    cursor: pointer;
}

.success--container {
    position: relative;
    text-align: center;
    color: white;
}

.success--container img {
    width: 100%;
}

.success--content{
    position: absolute;
    top: 50%;
    left: 50%;
}

.success--content p {
    font-size: 1.2rem;
}

.success--content h3 {
    font-size: 1.5rem;
}

.success--btn {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.story--btn {
    margin: 10px;
    padding: 14px;
    background: #fff;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.start--btn {
    margin: 10px;
    padding: 14px;
    background: orange;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.solutions--content {
    background-color: #333333;
    height: 20vh;
}

.solutions--content h4 {
    position: relative;
    top: 0;
    left: 15%;
    color: #999999;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: 0.2;
}

.solutions--content h2 {
    position: absolute;
    left: 18%;
    margin-top: -1.5rem;
    color: #fff;
}

.card--container {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    margin: -6rem 10px 10px 10px;
}

.card--layout {
    padding: 10px;
    height: 250px;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
    width: 300px;
    background-color: gray;
    color: #fff;
    text-align: start;
    margin-bottom: 5rem;
}

.card--title {
    margin-bottom: 10px;
}

.card--layout > button {
    margin-top: 1.2rem;
}

.services--container {
    display: flex;
    align-items: center;
    text-align: center;
    background: lightyellow;
}

.services--container img {
    width: 50%;
}

.services--content {
    margin-left: 1rem;
}
